<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" role="navigation" fixedInViewport="true">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let link of navigation" [routerLinkActive]="link.link">
        <mat-icon>{{link.icon}}</mat-icon>
        <span class="label">{{link.label}}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>jamDotCom</h1>
        <span class="menu-spacer"></span>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>A program a day make the doctor happy because you get really ill and become a repeat customer</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
